{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center containernew">
  <h5 class="mb-3">Welcome, {{ request.user.username }}!</h5>
</div> 
<div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
  <div>
    
    <form method="post" enctype="multipart/form-data">

      {% csrf_token %}
      <h2 class="mb-3">File upload</h2>
      <div class="mb-3">        
        <input class="form-control" type="file" id="archivo" name="archivo" >
      </div>
      <div class="mb-3"> 
      <select class="form-select me-2" id="gemInput" aria-label="GEM..." name="opciongem">
        <option value="ME0">ME0</option>
        <option value="GE2/1">GE2/1</option>
      </select>
    </div>
      <button class="btn btn-primary" type="submit">Upload</button>

    </form>


    
</div>
</div>
{% endblock %}